.swiper {
    width: 100%;
}

.swiper-slide {
    display: block;
    height: auto;
}


/* Base slide */
.feature-swiper .swiper-slide {
    transition: transform 0.6s ease, opacity 0.6s ease;
    opacity: 0.4;
    height: auto;
}

/* Active (center) slide */
.feature-swiper .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.swiper-button-prev .swiper-navigation-icon,
.swiper-button-next .swiper-navigation-icon {
    display: none;
}

.swiper-button-prev,
.swiper-button-next {
    margin-top: 0 !important;
}