<footer class="relative bg-default-100 overflow-hidden pb-7.5">

    <div class="container relative z-10">
        <!-- ================= CTA SECTION ================= -->
        <div class="lg:mb-25 mb-10 rounded-2xl p-5 bg-default-200 inset-shadow border border-default-200">
            <div class="relative lg:p-12.5 p-6 rounded-lg overflow-hidden bg-linear-to-r from-blue-300 to-blue-400">


                <div class="grid lg:grid-cols-2 gap-10 items-center relative z-10">
                    <!-- Left Content -->
                    <div>
                        <p class="uppercase tracking-widest text-sm text-black/70 mb-4">
                            Let's Build Something Great
                        </p>

                        <h2 class="text-4xl leading-tight mb-6">
                            Ready to start your next project?
                        </h2>

                        <a href="contact.html" class="py-2.5 px-5.5 inline-flex items-center justify-center rounded-lg bg-default-950 text-white font-medium transition-all duration-500 hover:bg-primary-hover">
                            Get started
                        </a>

                    </div>


                    <!-- Right Card -->
                    <div class="rounded-xl p-2 bg-default-200">
                        <div class="inset-shadow rounded-lg shadow-xl p-5">

                            <div class="flex items-center gap-2 text-sm text-default-500 mb-5">
                                <span class="w-2 h-2 bg-green-500 rounded-full animate-pulse"></span>
                                Available for project
                            </div>

                            <div class="flex items-center gap-4 mb-5">
                                <img src="/images/avatars/6.png" class="w-12 h-12 rounded-full object-cover" alt="Avatar">

                                <span class="text-xl font-medium">+</span>

                                <div class="w-12 h-12 rounded-full bg-black text-white flex items-center justify-center">
                                    You
                                </div>
                            </div>

                            <h3 class="text-xl font-semibold mb-2">
                                Quick 15-minute call
                            </h3>

                            <p class="text-default-600 mb-6">
                                Pick a time that works for you.
                            </p>

                            <a href="mailto:marold.dragon@gmail.com" class="py-2.5 px-5.5 flex items-center justify-center rounded-lg bg-primary shadow-primary-soft text-white font-medium transition-all duration-500 hover:bg-primary-hover">
                                Book a free call
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Decoration -->
                <div class="absolute size-130 rounded-full
                    inset-s-55 inset-e-55 -top-110
                    flex items-center justify-center mx-auto
                    border-10 border-primary shadow-primary-soft">
                </div>

                <div class="absolute size-130 rounded-full
                    inset-[219px_-40px_-370px_480px]
                    flex items-center justify-center mx-auto
                    border-10 border-primary shadow-primary-soft">
                </div>

            </div>
        </div>


        <!-- ================= MAIN FOOTER ================= -->
        <div class="grid md:grid-cols-3 lg:gap-25 gap-10">

            <!-- Brand -->
            <div>
                <a href="/" class="text-2xl font-semibold mb-4 block">
                    <img src="/images/logo-dark.jpg" alt="Venturin Icon" class="h-12.5">
                </a>

                <p class="text-default-600 mb-6">
                    Crafting digital solutions that move your business forward.
                </p>

                <h4 class="font-medium mb-3">Updates that keep you ahead</h4>

                <form class="flex items-center gap-2.5">
                    <input type="email" placeholder="Enter your email" class="rounded-lg bg-white h-12 py-2.5 px-4 w-full flex items-center border border-default-200">

                    <button type="submit" class="grow size-11 min-w-12 inline-flex items-center justify-center rounded-lg bg-primary shadow-primary-soft text-white font-medium transition-all duration-500 hover:bg-primary-hover">
                        <i class="iconify tabler--arrow-narrow-right size-6"></i>
                    </button>
                </form>
            </div>

            <div class="grid grid-cols-2 gap-10">
                <!-- Pages -->
                <div>
                    <p class="uppercase text-xs font-semibold tracking-widest mb-7.5">
                        Pages
                    </p>

                    <ul class="space-y-3">
                        <li><a href="index.html" class="text-default-950 transition-all duration-300 hover:text-primary">Home</a></li>
                        <li><a href="about.html" class="text-default-950 transition-all duration-300 hover:text-primary">About Us</a></li>
                        <li><a href="project.html" class="text-default-950 transition-all duration-300 hover:text-primary">Projects</a></li>
                        <li><a href="project-details.html" class="text-default-950 transition-all duration-300 hover:text-primary">Project Details</a></li>
                        <li><a href="privacy-policy.html" class="text-default-950 transition-all duration-300 hover:text-primary">Privacy Policy</a></li>

                    </ul>
                </div>

                <!-- Other -->
                <div>
                    <p class="uppercase text-xs font-semibold tracking-widest mb-7.5">
                        Other Links
                    </p>

                    <ul class="space-y-3">
                        <li><a href="blog.html" class="text-default-950 transition-all duration-300 hover:text-primary">Blog</a></li>
                        <li><a href="blog-details.html" class="text-default-950 transition-all duration-300 hover:text-primary">Blog Details</a></li>
                        <li><a href="contact.html" class="text-default-950 transition-all duration-300 hover:text-primary">Contact Us</a></li>
                        <li><a href="error-404.html" class="text-default-950 transition-all duration-300 hover:text-primary">Error 404</a></li>
                        <li><a href="https://venturin.site" target="_blank" class="text-default-950 transition-all duration-300 hover:text-primary">Support</a></li>
                    </ul>
                </div>
            </div>

            <!-- Contact -->
            <div>
                <p class="uppercase text-xs font-semibold tracking-widest mb-7.5">
                    Get in touch
                </p>

                <ul class="mb-7.5 space-y-3 text-default-600">
                    <li><a href="tel:+6285362219945" class="text-default-950 transition-all duration-300 hover:text-primary">+62 853 6221 9945</a></li>
                    <li><a href="mailto:marold.dragon@gmail.com" class="text-default-950 transition-all duration-300 hover:text-primary">marold.dragon@gmail.com</a></li>
                    <li>Medan, Indonesia</li>
                </ul>

                <p class="uppercase text-xs font-semibold tracking-widest mb-4">
                    Follow us on
                </p>

                <!-- Social -->
                <div class="flex items-center gap-4 mt-6">
                    <a href="#" class="size-8 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-facebook size-4"></i>
                    </a>
                    <a href="#" class="size-8 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-instagram size-4"></i>
                    </a>
                    <a href="#" class="size-8 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-linkedin size-4"></i>
                    </a>
                    <a href="#" class="size-8 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-x size-4"></i>
                    </a>
                </div>
            </div>

        </div>

        <!-- Divider -->
        <hr class="my-7.5 border-dashed border-default-300">

        <div class="rounded-lg p-5 border border-default-300 flex flex-wrap items-center lg:justify-between gap-4">
            <div>© 2026 Venturin. All rights reserved</div>

            <div>Develop by <a href="https://venturin.site" target="_blank" class="text-primary underline">Venturin</a></div>
        </div>
    </div>

    <!-- Decoration Circle -->
    <div>
        <div class="absolute size-600 
            inset-[100px_-600px_auto]
            animate-[spin_100s_linear_infinite]
            flex items-center justify-center mx-auto
            rounded-full p-2.5 bg-default-100
            inset-shadow">
            <div class="border border-white rounded-full size-full"></div>

            <div class="absolute -top-8.25 -bottom-8.25 h-616.5 w-19 flex items-center justify-between flex-col z-1">
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/1.svg" alt="Icon" class="decoration-icon">
                </div>
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/2.svg" alt="Icon" class="decoration-icon">
                </div>
            </div>

            <div class="rotate-30 absolute -top-8.25 -bottom-8.25 h-616.5 w-19 flex items-center justify-between flex-col z-1">
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/3.svg" alt="Icon" class="decoration-icon">
                </div>
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/4.svg" alt="Icon" class="decoration-icon">
                </div>
            </div>

            <div class="rotate-60 absolute -top-8.25 -bottom-8.25 h-616.5 w-19 flex items-center justify-between flex-col z-1">
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/5.svg" alt="Icon" class="decoration-icon">
                </div>
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/6.svg" alt="Icon" class="decoration-icon">
                </div>
            </div>

            <div class="rotate-90 absolute -top-8.25 -bottom-8.25 h-616.5 w-19 flex items-center justify-between flex-col z-1">
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/7.svg" alt="Icon" class="decoration-icon">
                </div>
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/8.svg" alt="Icon" class="decoration-icon">
                </div>
            </div>

            <div class="rotate-120 absolute -top-8.25 -bottom-8.25 h-616.5 w-19 flex items-center justify-between flex-col z-1">
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/9.svg" alt="Icon" class="decoration-icon">
                </div>
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/10.svg" alt="Icon" class="decoration-icon">
                </div>
            </div>

            <div class="rotate-150 absolute -top-8.25 -bottom-8.25 h-616.5 w-19 flex items-center justify-between flex-col z-1">
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/11.svg" alt="Icon" class="decoration-icon">
                </div>
                <div class="bg-white size-19 flex items-center justify-center shadow-lg rounded-lg">
                    <img src="/images/icons/12.svg" alt="Icon" class="decoration-icon">
                </div>
            </div>
        </div>

        <div class="absolute size-550 
            inset-[200px_-500px_auto]
            flex items-center justify-center mx-auto
            rounded-full p-2.5 bg-default-100
            inset-shadow">
            <div class="border border-white rounded-full size-full"></div>
        </div>
    </div>
</footer>