<!-- Navbar Start -->
<header class="fixed inset-x-0 top-0 z-90 max-w-100 mx-auto transition-all duration-300 [&:has(.hs-overlay.open)]:scale-105">

    <!-- Navbar Wrapper -->
    <div class="sticky top-0 my-7.5 flex w-full items-center justify-between rounded-lg border-2 border-default-200/50 bg-white shadow-md">

        <!-- Logo -->
        <a href="index.html" class="flex items-center p-3">
            <img src="/images/logo-dark.jpg" alt="Logo" class="h-8 flex" />
        </a>

        <!-- Mobile Menu Toggle -->
        <div class="flex h-full w-17.5 items-center justify-center p-4 border-x-2 border-default-200/75">
            <button class="inline-flex size-full items-center justify-center text-default-900" type="button" data-hs-overlay="#navbar-menu" aria-haspopup="dialog" aria-expanded="false" aria-controls="navbar-menu">
                <i class="iconify tabler--menu size-6"></i>
            </button>
        </div>

        <!-- Call To Action -->
        <div class="flex items-center justify-end gap-4 p-3">
            <a href="contact.html" class="py-1.5 px-3 text-sm inline-flex items-center justify-center rounded bg-default-900 text-white font-medium transition-all duration-500 hover:bg-primary-hover">
                Get Started
            </a>
        </div>
    </div>

    <!-- Modal Menu -->
    <div id="navbar-menu" class="hs-overlay hs-overlay-open:opacity-100 fixed inset-x-0 z-80 -mt-5 hidden opacity-0 transition-all duration-300 [--body-scroll:true]" role="dialog" tabindex="-1" aria-labelledby="navbar-menu-label">

        <!-- Modal Content -->
        <div class="w-full bg-white px-6 py-2 rounded-lg">

            <!-- Navigation Links -->
            <div class="flex flex-col divide-y divide-dashed divide-default-200">

                <a href="index.html" class="flex items-center py-4 text-2xl/none font-medium text-default-900 transition-all hover:text-primary">
                    Home
                </a>

                <a href="about.html" class="flex items-center py-4 text-2xl/none font-medium text-default-900 transition-all hover:text-primary">
                    About Us
                </a>

                <a href="project.html" class="flex items-center py-4 text-2xl/none font-medium text-default-900 transition-all hover:text-primary">
                    Projects
                </a>

                <a href="blog.html" class="flex items-center py-4 text-2xl/none font-medium text-default-900 transition-all hover:text-primary">
                    Blog
                </a>

                <a href="contact.html" class="flex items-center py-4 text-2xl/none font-medium text-default-900 transition-all hover:text-primary">
                    Contact Us
                </a>

                <!-- Social Media -->
                <div class="flex items-center gap-3 py-4">

                    <a href="#" class="size-7 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-facebook size-4"></i>
                    </a>

                    <a href="#" class="size-7 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-instagram size-4"></i>
                    </a>

                    <a href="#" class="size-7 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-linkedin size-4"></i>
                    </a>

                    <a href="#" class="size-7 flex items-center justify-center rounded-lg bg-default-950/10 text-default-950">
                        <i class="iconify tabler--brand-x size-4"></i>
                    </a>

                    <!-- Copyright -->
                    <div class="ms-auto text-sm">
                        © 2026 Venturin
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
<!-- Navbar End -->